/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

:root {
	--theme-rounded-base: 2px;
	--theme-rounded-container: 4px;
}
